sudo: required

language: sh

before_install:
    - sudo apt-get update -q
    - export scversion="stable" # or "v0.4.7", or "latest"
    - wget "https://storage.googleapis.com/shellcheck/shellcheck-${scversion}.linux.x86_64.tar.xz"
    - tar --xz -xvf shellcheck-"${scversion}".linux.x86_64.tar.xz
    - sudo cp shellcheck-"${scversion}"/shellcheck /usr/bin/
    - /usr/bin/shellcheck --version
    - sudo apt-get install ghostscript -y
    - sudo apt-get install imagemagick -y
    - sudo apt-get install p7zip-full -y
    - mkdir ./0x04/data
    - wget https://github.com/DcmTruman/For_test/blob/linux_shell_pro/data/web_log.tsv.7z -P ./0x04/data/
    - wget https://github.com/DcmTruman/For_test/blob/linux_shell_pro/data/worldcupplayerinfo.tsv -P ./0x04/data/
    - 7z x ./0x04/data/web_log.tsv.7z -o./0x04/data/

script:
  - bash ./0x04/task/task1.sh --file=./0x04/images/ -p "test1"
  - ls -l ./0x04/images/
  - bash ./0x04/task/task1.sh -f ./0x04/images/0657cda644f08b4.jpg -q 50 -s "test2"
  - ls -l ./0x04/images/
  - bash ./0x04/task/task1.sh -f ./0x04/images/Octicons-cloud-download.svg -c -p "test3"
  - ls -l ./0x04/images/
  - bash ./0x04/task/task1.sh -f ./0x04/images/ -r 50 -s "test4"
  - ls -l ./0x04/images/
  - bash ./0x04/task/task1.sh -f ./0x04/images/ -m "DcmTruman" -p "test5"
  - ls -l ./0x04/images/
  - bash ./0x04/task/task2.sh
  - bash ./0x04/task/task3.sh
  - bash ./0x04/task/task3.sh /images/ksclogo-medium.gif

after_script:
  - /usr/bin/shellcheck ./0x04/task/task1.sh
  - /usr/bin/shellcheck ./0x04/task/task2.sh
  - /usr/bin/shellcheck ./0x04/task/task3.sh

after_failure:
  - id
  - pwd
  - df -h
  - cat error.log

notifications:
  email:
    on_success: never
